<html>
</<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
         <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
         {% load static %}
         <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title></title>
  </head>
  <body>
    <div class="search_field">
      <img class="movie_icon" src="{% static 'movie_icon4.png' %}">
      <p>Search movies by title or by actor's name &nbsp
      </p>
      <input id="titlePlaceholder" name="title" type="text" placeholder="Movie.." size="30" class="search_bar">
      <img class="search_icon" src="{% static 'search_icon.png' %}" onclick="Submit()">
    </div>
    <div class="advanced">
          Advanced <button id="advanced" onclick="getAdvancedOptions()" class="addButton">Show</button>
      <div style="display:none;" id="advancedField" on="false">
        <div class="actor_field">
            <div id="actorField">
                 <p class="label">Actor's name</p>
          <button id="addActor" onclick="addActor()" class="addButton">Add</button>
          <input class="actor_input" name="actor" id="actorPlaceholder" type="text" style="display:none;">
            </div>
      </div>
          <div class="year_field">
              <div id="yearField">
                   <p class="label">Release year</p>
           <button id="addYear" onclick="addYear()" class="addButton">Add</button>
          <input class="year_input" name="year" id="yearPlaceholder" type="number" min="1900" max="2030" step="1" value=""  style="display:none;">
              </div>
              </div>
      </div>
    </div>
    <div class="movie">
        <div class="movie-details">
           <ul>
            <li>Title : {{title}}</li>
            <li>Release Year : {{release_year}}</li>
            <li>Cast :
                {% for actor in cast %}
                <span>{{actor}} | </span>
                {% endfor %}
            </li>
            <br>
               Reviews
            <p class='reviews'>
                <br>
                {% for review in movie_reviews %}
                <em>"{{review}}"</em>
                <br>
                <br>
                {% endfor %}
            </p>
               Score
            <div class="score">
              <img src="{% static 'tomatometer.png' %}" class="tomatometer"><p id="tomatometer">{{critics_score}}</p><p>%</p>
              <img src="{% static 'audience.png' %}" class="audience"><p id="audience">{{audience_score}}</p><p>%</p>
            </div>
            </ul>
        </div>
        <div id="movieThumbnail" class="movie-thumbnail">
            <img id="playButton" class="play_button" src="{% static 'play_button.png' %}">
          <div class="movie-thumbnail-image">
            <img id="thumbnail" alt='Movie poster not available!' src="{{thumbnail_url}}" class="thumbnail-img"></img>
            <iframe id="trailer"class="play_trailer" src="{{youtube_trailer}}" frameborder="0" donotallowfullscreen></iframe>
          </div>
        </div>
      </div>
  <script type="text/javascript" src="{% static 'script.js' %}"></script>
  </body>
</html>
