*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation-timing-function: linear;
}
body
{
  background-color: #d6ccc7;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

body {
  width: 100%;
  height: 100%;
}

.movie
{
  position:relative;
  margin:0 auto;
   width:60vw;
   height:32vw;
   background-color:#212121;
   color:white;
   font-family:Abel, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
  margin-top:6vw;
}
.movie ul
{
  list-style-type: circle;
  list-style-position: inside;
  text-align: left;
}
.movie ul li
{
padding-top:0.5vw;
}

.movie-details {
  width: 40vw;
  list-style-type: circle;
  padding-left: 1vw;
  padding-right:1vw;
  font-size: 1.1vw;

}

.movie-thumbnail {
  width: 50%;
  height: 100%;
  background-color: black;
}

.movie-thumbnail-image{
  position: relative;
}

.movie-thumbnail-image img{
  width: 100%;
  height: 100%;
  transition:opacity .2s ease-in;

}
.movie-thumbnail-image img:hover
{
  opacity:0.05;
}

.play_trailer {
  position: relative;
  left: 50%;
  width:100%;
  height:100%;
  transform: translate(-50%);
  display:none;
}
.reviews
{
  font-size: 0.9vw;
  border-top: solid 5px;
  text-align:center;

}
.score
{
  border-top: solid 5px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 2vw;
  font-weight: bold;
  padding-top:1.5vw;
  padding-bottom: 1vw;

}
.tomatometer
{
  width:5vw;
  height:auto;
}
.audience
{
  width:3.8vw;
  height:auto;
  margin-left: 2.5vw;
}
.search_field
{
  position:relative;
  vertical-align: middle;
  padding-top:0.5vw;
  padding-left:10vw;
  font-family:Abel;
  font-size: 1vw;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie_icon
{
  width:3vw;
  height:2.2vw;
  padding-right:0.5vw;
    filter: invert(1);

}
.search_icon
{
  width:2.3vw;
  height:auto;
  transition: ease-in .3s;
  cursor:pointer;
  filter: invert(0.8);
}
.search_icon:hover
{
 opacity:0.5;

}
.search_bar
{
  width:20vw;
  height:1.5vw;
  background-color: #d6ccc7;
  border:0;
  font-size:0.9vw;
}
.play_button
{
filter: brightness(500%);
opacity:0.8;
margin-left:5.2vw;
margin-top:8.7vw;
z-index: 2;
width:15vw;
height:auto;
position:absolute;

}
.advanced
{
  margin-top:0.9vw;
  margin-left:1vw;
  margin-bottom: 1vw;
  padding-bottom: 0.7vw;
  width:23vw;
  height:auto;
  vertical-align: middle;
    background-color:#212121;
   font-family:Arial;
  font-size:0.9vw;
  font-weight: bold;
  color: white;
  border-bottom-left-radius: 0.5vw;
  border-bottom-right-radius: 0.5vw;
opacity:0.9;
}
.addButton
{
  vertical-align: middle;
  margin-left:0.5vw;
border:none;
width:3vw;
height:1.7vw;
background-color:#7d7d7c;
  color:white;
  transition:opacity .2s ease-in-out;
  font-size: 0.7vw;
}
.addButton:hover
{
  opacity:0.5;
}
.actor_field
{
  margin-top:0.5vw;
  padding-top:0.5vw;
  border-top:0.1vw solid;
  border-color:#7d7d7c;
  padding-left:1vw;
}
.actor_input
{
  float:left;
  margin:0.3vw;
   width:12vw;
  font-size: 0.9vw;
    background-color: #d6ccc7;
  border:0;
}

.year_field
{
padding-top:0.5vw;
  padding-left:1vw;


}
.year_input
{
  float:left;
  margin:0.3vw;
   width:12vw;
  font-size: 0.9vw;
    background-color: #d6ccc7;
  border:0;
}
.label
{
float:left;
  font-size: 1vw;
  padding-top:0.2vw;
  font-weight:normal;
     font-family:Abel, sans-serif;
}
.advanced_icon
{
  filter: invert(1);
  vertical-align: middle;
  margin-right: 0.5vw;
  margin-bottom: 0.2vw;
  width:1.5vw;
}
.advanced_icon_spin
{
  filter: invert(0.8);
  vertical-align: middle;
  margin-right: 0.5vw;
  margin-bottom: 0.2vw;
  width:1.5vw;
  animation: rotation 2s infinite linear;
}

.navbar
{
  position:relative;
  vertical-align: middle;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #212121;
       font-family:Abel, sans-serif;
  font-size:1vw;
  height:3.5vw;
  width:auto;
  transition: opacity .2s ease-in-out;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1vw 1vw;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}
.swiper
{
width:60vw;
position:relative;
 display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev {
    color:  #212121;
    opacity:0.8;
}

.swiper-button-next {
    color:  #212121;
    opacity:0.8;
}